<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js">
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Websocket Clients</title>
</head>

<body>
    <main id="v-app">
        <section class="alerts">
            <p>
            <ul>
                <li v-for='el of alerts'>
                    {{el.message}}
                </li>
            </ul>
            </p>
        </section>
        <section class="chat">
            <h1>Websockets Tester</h1>
            <form>
                <input v-model="text" type="text" />
                <button type="submit" @click.prevent="sendChatMessage()">Send</button>
            </form>
            <div class="tab-row">
                <button class="tab-btn" :class="{active: activeRoom ==='general' }"
                    @click="activeRoom='general'">General</button>
                <button class="tab-btn" :class="{active: activeRoom ==='typescript' }"
                    @click="activeRoom='typescript'">Typescript</button>
                <button class="tab-btn" :class="{active: activeRoom ==='nestjs' }"
                    @click="activeRoom='nestjs'">NestJS</button>
            </div>
            <div class="tab-row">
                Status: {{isMemberOfActiveRoom ? 'Joined' : 'Not Joined'}} <button @click="toggleRoomMembership()">
                    {{isMemberOfActiveRoom ? 'Leave' : 'Join'}}</button>
            </div>
            <p>
            <ul>
                <li v-for='msg of messages[activeRoom]'>
                    <strong>
                        {{msg.sender}}
                    </strong>
                    {{msg.message}}
                </li>
            </ul>
            </p>
        </section>

    </main>
    <script>
        var app = Vue.createApp({
            data() {
                return {
                    username: '',
                    text: '',
                    messages: {
                        general: [],
                        typescript: [],
                        nestjs: []
                    },
                    rooms: {
                        general: false,
                        typescript: false,
                        nestjs: false
                    },
                    socket: { chat: null, alerts: null },
                    alerts: [],
                    activeRoom: 'general'
                }
            },
            methods: {
                sendChatMessage() {
                    //Check if the user is member of the active room:
                    if (this.isMemberOfActiveRoom) {
                        this.socket.chat.emit('chatToServer', { sender: this.username, message: this.text, room: this.activeRoom });
                        this.text = '';
                    }
                    else {
                        alert("You must a member of the active room to send a message!")
                    }
                },
                receiveChatMessage(msg) {
                    this.messages[msg.room].push(msg);
                },
                receiveAlertMessage(msg) {
                    this.alerts.push(msg);
                },
                toggleRoomMembership() {
                    if (this.isMemberOfActiveRoom) {
                        this.socket.chat.emit('leaveRoom', this.activeRoom)
                    }
                    else {
                        this.socket.chat.emit('joinRoom', this.activeRoom)
                    }
                }
            },
            computed: {
                isMemberOfActiveRoom() {
                    return this.rooms[this.activeRoom]
                }
            },
            created() {
                this.username = prompt('Enter your username');
                this.socket.chat = io('http://localhost:3000/chat');
                this.socket.chat.on('chatToClient', (msg) => {
                    this.receiveChatMessage(msg);
                });
                this.socket.chat.on('connect', () => {
                    this.toggleRoomMembership();
                });
                this.socket.chat.on('joinedRoom', (room) => {
                    this.rooms[room] = true;
                });
                this.socket.chat.on('leftRoom', (room) => {
                    this.rooms[room] = false;
                });
                this.socket.alerts = io('http://localhost:3000/alert')
                this.socket.alerts.on('alertToClient', (msg) => {
                    this.receiveAlertMessage(msg);
                });
            }
        }).mount('#v-app');
    </script>
</body>

</html>